{% load static %}
<html>
    <head><title>FIRST</title></head>
<body style="font-size: 17pt;font-family:Georgia, 'Times New Roman', Times, serif;">
    <br>
    <center><img src="{% static 'demo/js.png' %}" height="300" width="300"></center>
    <br>
    <br>
    <br>
    <ul>
        <li>JavaScript and Java are completely different languages, both in concept and design.</li><br>

        <li> was invented by Brendan Eich in 1995, and became an ECMA standard in 1997.</li><br>
            
        <li>ECMA-262 is the official name of the standard. ECMAScript is the official name of the language.</li><br>
        <li>JavaScript was initially created to “make web pages alive”.

            The programs in this language are called scripts. They can be written right in a web page’s HTML and run automatically as the page loads.
            
            Scripts are provided and executed as plain text. They don’t need special preparation or compilation to run.
            
            In this aspect, JavaScript is very different from another language called Java.</li>
    </ul>
    
</body>
</html>