
<html>
    <head><title>THIRD</title></head>
<body style="font-size: 17pt;font-family:Georgia, 'Times New Roman', Times, serif;">
    {% load static %}
    <center><img src="{% static 'demo/jav.png' %}" height="300" width="300"></center>
    <br>
    <br>
    <br>
    <p style="padding-left:15pt ;">Java is a popular programming language, created in 1995.</p>
    <p style="padding-left: 15pt;">It is used for,</p>
    <uL>
       <li>Mobile applications (specially Android apps)</li>
       <li>Desktop applications</li>
       <li>Web applications</li>
       <li>Web servers and application servers</li>
       <li>Games</li>
       <li>Database connection</li>
    </uL>
</body>
</html>