{% load static %}
<html>
    <head><title>FOURTH</title></head>
<body style="font-size: 17pt;font-family:Georgia, 'Times New Roman', Times, serif;">
<br>
    <center><img src="{% static 'demo/kl.jpg' %}" height="300" width="300"></center>
    <br>
    <br>
    <br>
    <ul>
    <li>Kotlin is a statically typed, general-purpose programming language developed by JetBrains, that has built world-class IDEs like IntelliJ IDEA, PhpStorm, Appcode, etc. It was first introduced by JetBrains in 2011 and a new language for the JVM. Kotlin is object-oriented language, and a “better language” than Java, but still be fully interoperable with Java code.</li><br>
    <li>Kotlin is sponsored by Google, announced as one of the official languages for Android Development in 2017.</li>
</ul>
</body>
</html>