
<html>
<head><title>HOME</title></head>
<body bgcolor="#000000" >
    <br>
    <br>
    <center style="font-family: Georgia;color:silver;font-size: 15pt;">PROGRAMMING LANGUAGES</center>
    <br>
    <br>
    
<ul>
    <li><li style="font-size:20pt;"><a href="demo/index"target="r" style="color: silver;text-decoration: none;font-family: Georgia;">HOME</a></li>
</ul>
<ol style="color: silver;">
    <li style="font-size:20pt;"><a href="demo/javascript"target="r" style="color: darkgrey;text-decoration: none;font-family: Georgia;">JAVASCRIPT</a></li><hr>
    <li style="font-size:20pt;"><a href="demo/python" target="r" style="color: silver;text-decoration: none;font-family: Georgia;">PYTHON</a></li><hr>
    <li style="font-size:20pt;"><a href="demo/java" target="r"style="color: silver;text-decoration: none;font-family: Georgia;">JAVA</a></li><hr>
    <li style="font-size:20pt;"><a href="demo/kotlin" target="r"style="color: silver;text-decoration: none;font-family: Georgia;">KOTLIN</a></li><hr>
    <li style="font-size:20pt;"><a href="demo/cpp" target="r"style="color: silver;text-decoration: none;font-family: Georgia;">C++</a></li><hr>
</ol> 
</body>    
</html>