{% load static %}
<html>
    <head><title>SECOND</title></head>
<body style="font-size: 17pt;font-family:Georgia, 'Times New Roman', Times, serif;">
    <br>
    <center><img src="{% static 'demo/py.jpg' %}" height="300" width="300"></center>
    <br>
    <br>
    <br>
    <p style="padding-left:15pt ;">Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.</p>
    <p style="padding-left: 15pt;">It is used for,</p>
    <uL>
       <li>Web development (server-side)</li>
       <li>Software development</li>
       <li>Mathematics</li>
       <li>System scripting</li>
    </uL>
    
</body>
</html>